body{
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header { grid-area: header; }
.main { grid-area: main; height: 100%; padding-left:100px;}
.right { grid-area: right; }
.footer { grid-area: footer; }

.grid-container {
  font-family: "Fira Code", serif;
  display: grid;
  grid-template-areas:
          'header header header'
          'main main right'
          'footer footer footer';
  background-color: #D3E9FE;
}

.grid-container > div {
  background-color: #D3E9FE;
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
  color:green;
  cursor: pointer;
}

li > a {
  color:green;
}

a {
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

#menu {
  display: none;
}

#arrow {
  background-image: url("../img/465-4656117_go-to-top-arrow-up-svg-hd-png.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}